body {
    background: linear-gradient(30deg, rgb(77, 77, 77), rgb(58, 58, 58));
}

header {
    position: static;
}

main ul {
    width: 800px;
    margin: 0 auto;
}

main li {
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;
    width: 80%;
}

main li img {
    width: 300px;
    height: 280px;
    object-fit: cover;
}

.item-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.actions {
    align-self: flex-end;
}

.actions a {
    text-decoration: none;
    color: rgb(117, 239, 243);
    padding: 8px;
    border-radius: 8px;
}

.actions a:hover {
    color: whitesmoke;
    background-color: rgb(117, 239, 243);
}